<h1>Your weather data email</h1>
<% if @data[0] %>
  <table>
    <thead>
      <% @data.first.keys.each do |key| %>
        <tr>
          <th><%= key %></th>
        </tr>
      <% end %>
    </thead>
    <tbody>
      <% @data.each do |day| %>
        <tr>
          <% day.keys.each do |key|%>
            <td><%= day[key] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>
    <span>No Data</span>
  </div>
<% end %>
